<form>
  <div [hidden]="isAdd">
    <label>Category ID</label>
    <input type="text" [(ngModel)]="category.categoryId"
      name="categoryId" class="form-control w-25" readonly>
  </div>

  <div class="mt-2">
    <label>Category Name</label>
    <input type="text" [(ngModel)]="category.categoryName"
      name="categoryName" class="form-control"
      placeholder="Enter category name...">
  </div>

  <div class="mt-2">
    <label>Category Description</label>
    <input type="text" [(ngModel)]="category.categoryDescription"
      name="categoryDescription" class="form-control"
      placeholder="Enter category description...">
  </div>

  <div class="mt-2">
    <button type="submit"
      [disabled]="!category.categoryName"
      class="btn btn-success"
      (click)="saveCategory()">
      {{ isAdd ? 'Add' : 'Update' }}
    </button>
  </div>
</form>