<div class="container">
  <div>
    <h2>Update Product</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>Product ID</label>
      <input type="text" [(ngModel)]="product.productId" name="productId" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Product Name</label>
      <input type="text" [(ngModel)]="product.productName" name="productName" class="form-control">
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Product Price</label>
      <input type="number" [(ngModel)]="product.productPrice" name="productPrice" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Creation Date</label>
      <input type="date" [(ngModel)]="product.creationDate" name="creationDate" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Category</label>
      <select class="form-control form-control-lg" id="categoryId" name="categoryId" [(ngModel)]="selectedCategoryId">
        <option *ngFor="let cat of categories" [ngValue]="cat.categoryId">{{ cat.categoryName }}</option>
      </select>
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
      <label class="mb-2">Image :</label>
      <input type="file" (change)="onImageUpload($event)" name="image" class="form-control">
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
      <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
           style="width: 500px; height: 300px" />
    </div>

    <div class="mt-2">
      <button type="submit" (click)=" updateProduct()" class="btn btn-success">Update</button>
    </div>
  </form>
</div>
