<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Categories</label>
    <select class="form-control form-control-lg" id="categoryId" name="categoryId"
      [(ngModel)]="selectedCategoryId" (change)="onChange()">
      @for(cat of categories; track cat.categoryId) {
        <option value="{{cat.categoryId}}">{{cat.categoryName}}</option>
      }
    </select>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Creation Date</th>
          <th>Category</th>
        </tr>
        @for(product of products; track product.productId) {
          <tbody>
            <tr>
              <td>{{product.productId}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.productPrice}}</td>
              <td>{{product.creationDate | date:'dd/MM/yyyy'}}</td>
              @if(product.categoryDTO) {
                <td>{{product.categoryDTO.categoryName}}</td>
              } @else {
                <td>NO CATEGORY</td>
              }
            </tr>
          </tbody>
        }
      </table>
    </div>
  </div>
</div>